@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.customForm {
  max-width: 1000px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: rgb(250,250,250);
  box-shadow: #a4a4a4 2px 2px 2px 0px;
  border: solid 1px #AAA;
  margin: 0 auto;

  .header{
    /*background-color: "[theme: themePrimary, default: #0078d7]";
    color: white;*/
  }
}